<div class="card mb-3">
  <div class="card-header">
    <h2 class="float-left "><%= t('.header') %></h2>
  </div>
  <div class="card-body">
    <p>
      <%= @question.body %>
    </P>

    <%= render 'form', answer: @answer %>
  </div>
</div>

<%= link_to t('helpers.links.back'), admin_question_path(@question), class: 'btn btn-light' %>
