<h1>Tests List</h1>
<%= render 'shared/flash_message'%>
<table>
  <p>
    <%= link_to 'New test', :new_test %>
  </p>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan = 4>Manage</th>
  </tr>

  <%= render @tests %>
 </table>
  