<table frame>
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>created at</th>
  </tr>

  <% @tests.each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= link_to t.title, test_questions_url(t.id)%></td>
      <td><%= t.created_at %></td>
    </tr>

  <% end %>
 </table>